{% extends 'main/base.html' %}

{% set title = "Pesanan" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
<div id="pesanan">
    <div class="pb-3">
        <h1>Pesanan</h1>

        <!-- ORDER FORMS -->
        {% if user.role_tag == 'sales' %}
            <a href="/pesanan/order" class="btn btn-primary">Order</a>
        {% endif %}

    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pesanan-masuk-tab" data-bs-toggle="tab" data-bs-target="#pesanan-masuk" type="button" role="tab" aria-controls="pesanan-masuk" aria-selected="true">Masuk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pesanan-keluar-tab" data-bs-toggle="tab" data-bs-target="#pesanan-keluar" type="button" role="tab" aria-controls="pesanan-keluar" aria-selected="false">Selesai</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pesanan-masuk" role="tabpanel" aria-labelledby="pesanan-masuk-tab">
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Sales</th>
                        <th>Pelanggan</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody v-if="pesanan.length > 0">
                    <tr v-for="(p, i) in pesanan">
                        <td>${ get_date(p.tgl) }</td>
                        <td>${ p.sales.nama }</td>
                        <td>${ p.pelanggan.nama }</td>
                        <td align="center">
                            <span class="badge bg-success" v-if="p.accepted">Diterima</span>
                            <span class="badge bg-secondary" v-else>Pending</span>
                        </td>
                        <td align="center">
                            <button class="btn btn-sm btn-info"
                                data-bs-toggle="modal"
                                data-bs-target="#detailPesanan"
                                v-on:click="getPesananDetail(i, 'in')">
                                <i class="fas fa-clipboard"></i>
                            </button>
                            <button class="btn btn-sm btn-success" v-if="user.role == 'admin' && !p.accepted" v-on:click="terimaPesanan(p)">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="text-center" v-else>
                    <tr>
                        <th colspan="5">Belum Ada Pesanan</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pesanan-keluar" role="tabpanel" aria-labelledby="pesanan-keluar-tab">
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Sales</th>
                        <th>Pelanggan</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody v-if="pesanan_out.length > 0">
                    <tr v-for="(p, i) in pesanan_out">
                        <td>${ get_date(p.tgl) }</td>
                        <td>${ p.sales.nama }</td>
                        <td>${ p.pelanggan.nama }</td>
                        <td align="center">
                            <span class="badge bg-success" v-if="p.accepted">Diterima</span>
                            <span class="badge bg-secondary" v-else>Pending</span>
                        </td>
                        <td align="center">
                            <button class="btn btn-sm btn-info"
                                data-bs-toggle="modal"
                                data-bs-target="#detailPesanan"
                                v-on:click="getPesananDetail(i, 'out')">
                                <i class="fas fa-clipboard"></i>
                            </button>
                            <button class="btn btn-sm btn-success" v-if="user.role == 'admin' && !p.accepted" v-on:click="terimaPesanan(p)">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="text-center" v-else>
                    <tr>
                        <th colspan="5">Belum Ada Pesanan yang Selesai</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODAL DETAIL Pesanan -->
    <div class="modal fade"
            id="detailPesanan"
            tabindex="-1"
            aria-labelledby="detailPesananLabel"
            aria-hidden="true"
            v-if="p_detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Order Detail
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form pt-2 pb-2">
                                    <label class="form-label" for="pelanggan">Tanggal</label>
                                    <input type="text" class="form-control" v-bind:value="get_date(p_detail.tgl)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form pt-2 pb-2">
                                    <label class="form-label" for="pelanggan">Sales</label>
                                    <input type="text" class="form-control" v-bind:value="p_detail.sales.nama">
                                </div>
                            </div>
                        </div>
                        <div class="form pt-2 pb-2">
                            <label class="form-label" for="pelanggan">Pelanggan</label>
                            <input type="text" class="form-control" v-bind:value="p_detail.pelanggan.nama">
                        </div>

                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Daftar Barang</h5>
                            <div class="row" v-for="(ip, i) in p_detail.item_pesanan">
                                <div class="col-md-10">
                                    <div class="form pt-2 pb-2">
                                      <label class="form-label" for="barang">Barang</label>
                                      <input type="text" class="form-control" v-bind:value="getBarangName(ip.barang_id)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form pt-2 pb-2">
                                      <label class="form-label" for="qty">Qty</label>
                                      <input class="form-control" type="text" name="qty" step="1" v-bind:value="ip.qty">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-success" v-if="user.role == 'admin' && p_type == 'in'" v-on:click="terimaPesanan(p_detail)">Terima</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/id.min.js"></script>
<script>
    var pesanan = new Vue({
        el: '#pesanan',
        delimiters: ['${', '}'],
        data: {
            user: {
                username: "{{ user.username }}",
                role: "{{ user.role_tag }}"
            },
            sales: {},
            pesanan: [],
            pesanan_out: [],
            p_detail: null,
            p_type: 'in',
            p_idx: 0,
            pelanggan: [],
            pelanggan_id: 0,
            barang: [],
        },
        created() {
            // fetch pesanan
            getJsonData("/api/pesanan?type=order")
                .then(results => {
                    if (!results.detail) {
                        this.pesanan = results;
                        if (this.pesanan) {
                            this.p_detail = this.pesanan[0];
                        }
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pesanan out
            getJsonData("/api/pesanan?type=accepted")
                .then(results => {
                    if (!results.detail) {
                        this.pesanan_out = results;
                        if (this.pesanan_out) {
                            this.p_detail = this.pesanan_out[0];
                        }
                        console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/pelanggan")
                .then(results => {
                    if (!results.detail) {
                        this.pelanggan = results;
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/barang")
                .then(results => {
                    if (!results.detail) {
                        this.barang = results;
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/sales")
                .then(results => {
                    if (!results.detail) {
                        this.sales = results[0];
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });
        },
        methods: {
            get_date: function (date_str) {
                return moment(date_str, "YYYY-MM-DDTHH:mm:ss").format('DD MMMM YYYY');
            },
            terimaPesanan: function (pesanan) {
                // update sales data
                let accept = confirm(`Terima Order dari ${pesanan.sales.nama} untuk pelanggan ${pesanan.pelanggan.nama}?`);
                if (accept) {
                    postJsonData(`/api/pesanan/${pesanan.id}/accept`, {})
                        .then(result => {
                            if (result.detail) {
                                alert(result.detail);
                                return null;
                            }

                            // update this.pesanan_out, remove this.pesanan
                            console.log(result);
                            this.pesanan.forEach((item, i) => {
                                if (item.id == result.id) {
                                    this.pesanan.splice(i, 1);
                                }
                            });
                            this.pesanan_out.unshift(result);
                            this.$forceUpdate();

                            alert("Order diterima!");
                        }).catch(err => {
                            console.error('Error:', err);
                        });
                }
            },
            getBarangName: function (b_id) {
                let brname = "";
                this.barang.forEach(function(bar, i, arr){
                    if (bar.id == b_id) {
                        brname = `${bar.obat.nama} - ${bar.batch}`;
                    }
                });
                return brname;
            },
            getPesananDetail: function (p_idx, p_type) {
                this.p_idx = p_idx;
                this.p_type = p_type;
                if (p_type == 'in') {
                    this.p_detail = this.pesanan[p_idx];
                } else {
                    this.p_detail = this.pesanan_out[p_idx];
                }
            },
        },
        computed: {

        },
        filters: {

        },
    })
</script>
{% endblock %}
