{% extends 'main/base.html' %}

{% set title = "Penjualan" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
<div id="penjualan">
    <div class="pb-3">
        <h1>Penjualan</h1>

        <!-- ORDER FORMS -->
        {% if user.role_tag == 'sales' %}
            <a href="/penjualan/order" class="btn btn-primary">Order</a>
        {% endif %}

    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Sales</th>
                <th>Pelanggan</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody v-if="penjualan.length > 0">
            <tr v-for="(p, i) in penjualan">
                <td>${ get_date(p.tgl) }</td>
                <td>${ p.sales.nama }</td>
                <td>${ p.pelanggan.nama }</td>
                <td align="center">
                    <span class="badge bg-success" v-if="p.accepted">Diterima</span>
                    <span class="badge bg-secondary" v-else>Pending</span>
                </td>
                <td align="center">
                    <button class="btn btn-sm btn-info"
                        data-bs-toggle="modal"
                        data-bs-target="#detailPenjualan"
                        v-on:click="p_idx = i">
                        <i class="fas fa-clipboard"></i>
                    </button>
                    <button class="btn btn-sm btn-success" v-if="user.role == 'admin' && !p.accepted" v-on:click="terimaPenjualan(p)">
                        <i class="fas fa-check"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody class="text-center" v-else>
            <tr>
                <th colspan="5">Belum Ada Order</th>
            </tr>
        </tbody>
    </table>

    <!-- MODAL DETAIL PENJUALAN -->
    <div class="modal fade"
            id="detailPenjualan"
            tabindex="-1"
            aria-labelledby="detailPenjualanLabel"
            aria-hidden="true"
            v-if="penjualan.length > 0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Order Detail
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form pt-2 pb-2">
                                    <label class="form-label" for="pelanggan">Tanggal</label>
                                    <input type="text" class="form-control" v-bind:value="get_date(penjualan[p_idx].tgl)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form pt-2 pb-2">
                                    <label class="form-label" for="pelanggan">Sales</label>
                                    <input type="text" class="form-control" v-bind:value="penjualan[p_idx].sales.nama">
                                </div>
                            </div>
                        </div>
                        <div class="form pt-2 pb-2">
                            <label class="form-label" for="pelanggan">Pelanggan</label>
                            <input type="text" class="form-control" v-bind:value="penjualan[p_idx].pelanggan.nama">
                        </div>

                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Daftar Barang</h5>
                            <div class="row" v-for="(ip, i) in penjualan[p_idx].item_penjualan">
                                <div class="col-md-10">
                                    <div class="form pt-2 pb-2">
                                      <label class="form-label" for="barang">Barang</label>
                                      <input type="text" class="form-control" v-bind:value="getBarangName(ip.barang_id)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form pt-2 pb-2">
                                      <label class="form-label" for="qty">Qty</label>
                                      <input class="form-control" type="text" name="qty" step="1" v-bind:value="ip.qty">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-success" v-if="user.role == 'admin' && !penjualan[p_idx].accepted" v-on:click="terimaPenjualan(penjualan[p_idx])">Terima</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/id.min.js"></script>
<script>
    var penjualan = new Vue({
        el: '#penjualan',
        delimiters: ['${', '}'],
        data: {
            user: {
                username: "{{ user.username }}",
                role: "{{ user.role_tag }}"
            },
            sales: {},
            penjualan: [],
            p_idx: 0,
            pelanggan: [],
            pelanggan_id: 0,
            barang: [],
        },
        created() {
            // fetch penjualan
            getJsonData("/api/penjualan")
                .then(results => {
                    if (!results.detail) {
                        this.penjualan = results;
                        console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/pelanggan")
                .then(results => {
                    if (!results.detail) {
                        this.pelanggan = results;
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/barang")
                .then(results => {
                    if (!results.detail) {
                        this.barang = results;
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });

            // fetch pelanggan
            getJsonData("/api/sales")
                .then(results => {
                    if (!results.detail) {
                        this.sales = results[0];
                        // console.log(results);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });
        },
        methods: {
            get_date: function (date_str) {
                return moment(date_str, "YYYY-MM-DDTHH:mm:ss").format('DD MMMM YYYY');
            },
            terimaPenjualan: function (penjualan) {
                // update sales data
                let accept = confirm(`Terima Order dari ${penjualan.sales.nama} untuk pelanggan ${penjualan.pelanggan.nama}?`);
                if (accept) {
                    postJsonData(`/api/penjualan/${penjualan.id}/accept`, {})
                        .then(result => {
                            // update this.penjualan
                            console.log(result);
                            this.penjualan.forEach((item, i) => {
                                if (item.id == result.id) {
                                    this.penjualan[i] = result;
                                }
                            });
                            this.$forceUpdate();

                            alert("Order diterima!");
                        }).catch(err => {
                            console.error('Error:', err);
                        });
                }
            },
            getBarangName: function (b_id) {
                let brname = "";
                this.barang.forEach(function(bar, i, arr){
                    if (bar.id == b_id) {
                        brname = `${bar.obat.nama} - ${bar.batch}`;
                    }
                });
                return brname;
            },
        },
        computed: {

        },
        filters: {

        },
    })
</script>
{% endblock %}
