{% extends 'main/base.html' %}

{% set title = "Users Index" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>

</style>
{% endblock %}

{% block content %}
  <div>
    <h1 class="title">
      Users
      <small><a href="#"><i class="fas fa-plus"></i></a></small>
    </h1>
    <div class="container">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for us in users %}
          <tr>
            <td>{{ us.username }}</td>
            <td>{{ us.role_tag }}</td>
            <td>
              <small>
                <a href="#">
                  <span class="fa-passwd-reset fa-stack">
                    <i class="fa fa-undo fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x"></i>
                  </span>
                </a>
            </small>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
