<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container box has-text-centered">
      <h1 class="title">
        Anda dilarang mengakses halaman ini.
      </h1>
      <h1>
        <a href="/">Kembali</a>
      </h1>
    </div>
  </section>
  </body>
</html>
