<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>
      {% if title %}
        {{title}} | SBSehati
      {% else %}
        SBSehati
      {% endif %}
    </title>

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style media="screen">
      .collapse {
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .5s cubic-bezier(0, 1, 0, 1);;

        &.show {
          max-height: 99em;
          transition: max-height .5s ease-in-out;
        }
      }
    </style>

    {% block css %}{% endblock %}
  </head>

  <body id="page-top">
    <div id="wrapper">
      {% include 'main/navbar.html' %}

      <div class="container" id="content-wrapper">
        <div class="">

          <div id="notification">
            {% if message %}
              <div class="notification is-{{ message.type }}" id="notif">
                <button class="delete" onclick="closeNotification('notif')"></button>
                {{ message.text }}
              </div>
            {% endif %}
          </div>

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% block js %}{% endblock %}
  </body>

  <script src="/static/js/main.js"></script>
  <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>
  <script>
    bulmaCalendar.attach('.date-picker', {
      dateFormat: "YYYY-MM-DD",
      type: 'date',
      showClearButton: true
    });
    document.querySelector('.date-picker').bulmaCalendar.on('select', date => {console.log(date)});
  </script>
</html>
