{% extends 'main/base.html' %}

{% set title = "Sumber Daya Manusia" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
  <div>
    <div class="container">
      <h1 class="title">
        Sales
        <small>
          <a href="#" onclick="toggle_create_user()">
            <i class="fa fa-sm fa-plus"></i>
          </a>
        </small>
      </h1>
      <div class="modal" id="create-sales">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form action="/users/sales" method="post">
            <header class="modal-card-head">
              <p class="modal-card-title">Tambah Sales</p>
              <button class="delete" type="button" aria-label="close" onclick="toggle_create_user()"></button>
            </header>
            <section class="modal-card-body">
              <div class="columns">
                <div class="column is-four-fifths pt-2 pb-2">
                  <label class="label" for="username">Nama</label>
                  <input class="input is-link" type="text" name="nama" value="" required>
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Kode</label>
                  <input class="input is-link" type="text" name="kode" value="" required>
                </div>
              </div>
              <div class="columns">
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Username</label>
                  <input class="input is-link" type="text" name="username" value="" required>
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="password">Password</label>
                  <input class="input is-link" type="password" name="password" value="" required>
                </div>
              </div>
              <div class="columns">
                <div class="column is-three-quarters pt-2 pb-2">
                  <label class="label" for="username">Alamat</label>
                  <input class="input is-link" type="text" name="alamat" placeholder="(tidak wajib)">
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Kota</label>
                  <input class="input is-link" type="text" name="kota" placeholder="(tidak wajib)">
                </div>
              </div>
              <div class="columns">
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Telepon</label>
                  <input class="input is-link" type="text" name="telepon" placeholder="(tidak wajib)">
                </div>
                <div class="column is-three-fifths pt-2 pb-2">
                  <label class="label" for="username">Keterangan</label>
                  <input class="input is-link" type="text" name="keterangan" placeholder="(tidak wajib)">
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="pl-2 pr-2">
                <input class="button is-link" type="submit" value="Tambah">
              </div>
              <button class="button" type="button" onclick="toggle_create_user()">Batal</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Username</th>
            <th>Telepon</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for sal in sales %}
          <tr>
            <td>{{ sal.kode.upper() }} - {{ sal.nama }}</td>
            <td align="center">
              {% if sal.user %}
                {{ sal.user.username }}
              {% else %}
                <a onclick="toggle_add_user({{ sal.id }})"><i class="fas fa-user-plus"></i></a>
              {% endif %}
            </td>
            <td>{{ sal.telepon or "-" }}</td>
            <td>
              {% if sal.user %}
                <small>
                  <a href="#" onclick="toggle_password({{ sal.user.id }})">
                    <span class="fa-passwd-reset fa-stack">
                      <i class="fa fa-undo fa-stack-2x"></i>
                      <i class="fa fa-lock fa-stack-1x"></i>
                    </span>
                  </a>
                  <a href="#">
                    <span class="fa-edit-sales fa-stack">
                      <i class="fa fa-undo fa-stack-2x"></i>
                      <i class="fa fa-user fa-stack-1x"></i>
                    </span>
                  </a>
              </small>
            {% else %}-{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Modal to add user on existing sales -->
      <div class="modal" id="add-user">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form id="add_user" action="/users" method="post">
            <header class="modal-card-head">
              <p class="modal-card-title">Tambah User</p>
              <button class="delete" type="button" aria-label="close" onclick="toggle_add_user(0)"></button>
            </header>
            <section class="modal-card-body">
              <div class="pt-2 pb-2">
                <label class="label" for="username">Username</label>
                <input class="input is-link" type="text" name="username" value="">
              </div>
              <div class="pt-2 pb-2">
                <label class="label" for="password">Password</label>
                <input class="input is-link" type="password" name="password" value="">
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="pl-2 pr-2">
                <input class="button is-link" type="submit" value="Tambah">
                <!-- <button class="button is-link" type="button" onclick="add_user()">Tambah</button> -->
              </div>
              <button class="button" type="button" onclick="toggle_add_user(0)">Batal</button>
            </footer>
          </form>
        </div>
      </div>

      <!-- Modal to change user password -->
      <div class="modal" id="change-password">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form id="change_password" action="/users" method="post">
            <header class="modal-card-head">
              <p class="modal-card-title">Tambah User</p>
              <button class="delete" type="button" aria-label="close" onclick="toggle_password(0)"></button>
            </header>
            <section class="modal-card-body">
              <div class="pt-2 pb-2">
                <label class="label" for="password">Password Baru</label>
                <input class="input is-link" type="password" name="password" value="">
              </div>
              <div class="pt-2 pb-2">
                <label class="label" for="password">Ulang Password</label>
                <input class="input is-link" type="password" name="password2" value="">
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="pl-2 pr-2">
                <input class="button is-link" type="submit" value="Ubah">
              </div>
              <button class="button" type="button" onclick="toggle_password(0)">Batal</button>
            </footer>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  let add_user_id = 0;

  function toggle_create_user() {
    toggleModal("create-sales");
  }

  function toggle_add_user(sales_id) {
    toggleModal("add-user", function() {
      document.getElementById('add_user').action = "/users/sales/" + sales_id;
      console.log(formToJson(document.getElementById('add_user')));
      add_user_id = sales_id;
    });
  }

  // function add_user() {
  //   let data = formToJson(document.getElementById('add_user'));
  //   let res = sendPostRequest("/users/sales/" + add_user_id, data, function(res){
  //     console.log(res.status);
  //     showMessage(res.status);
  //   });
  // }

  function toggle_password(user_id) {
    toggleModal("change-password", function() {
      document.getElementById('change_password').action = "/users/" + user_id + "/password";
    });
  }
</script>
{% endblock %}
