{% extends 'main/base.html' %}

{% set title = "Sumber Daya Manusia" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
  <div id="sdm">
    <div>
      <h1 class="title">
        Sales
        <!-- <small>
          <a href="#" onclick="toggle_create_user()">
            <i class="fa fa-sm fa-plus"></i>
          </a>
        </small> -->
      </h1>
    </div>

    <div id="sales">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered">
                  <thead>
                    <tr class="text-center">
                      <th>No</th>
                      <th>Nama</th>
                      <th>Kode</th>
                      <th>Username</th>
                      <th>Telepon</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                      <tr v-for="(s, i) in sales">
                          <td>${ i+1 }</td>
                          <td>${ s.nama }</td>
                          <td>${ s.kode.toUpperCase() }</td>
                          <td align="center">
                              <span v-if="s.user">${ s.user.username }</span>
                              <span v-else>
                                  <button type="button"
                                          class="btn btn-sm btn-primary"
                                          data-bs-toggle="modal"
                                          data-bs-target="#addUserSales"
                                          v-on:click="updateSalesForm(s)">
                                      <i class="fas fa-user-plus"></i>
                                  </button>
                              </span>
                          </td>
                          <td>${ s.telepon }</td>
                          <td>
                              <a href="#" data-bs-toggle="modal"
                                      data-bs-target="#updateUserPassword"
                                      v-on:click="updateSalesForm(s)">
                                  <i class="fas fa-key"></i>
                              </a>
                          </td>
                      </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>

        <!-- Modal to add user on existing sales -->
        <div class="modal fade"
                id="addUserSales"
                tabindex="-1"
                aria-labelledby="addUserSalesLabel"
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Tambah User untuk Sales
                            <span>
                                ${ sales_form.nama }
                            </span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form pt-2 pb-2">
                          <label class="form-label" for="username">Username</label>
                          <input class="form-control" type="text" name="username" v-model="username">
                        </div>
                        <div class="form pt-2 pb-2">
                          <label class="form-label" for="password">Password</label>
                          <input class="form-control" type="password" name="password" v-model="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-primary" v-on:click="addUser">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to update User Password -->
        <div class="modal fade"
                id="updateUserPassword"
                tabindex="-1"
                aria-labelledby="updateUserPasswordLabel"
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Ganti Password untuk user
                            <span v-if="sales_form.user">
                                ${ sales_form.user.username }
                            </span>
                            <span v-else>
                                ???
                            </span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form pt-2 pb-2">
                          <label class="form-label" for="password">Password</label>
                          <input class="form-control" type="password" name="password" v-model="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-primary" v-on:click="updatePassword">Ganti</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var sales = new Vue({
        el: '#sales',
        delimiters: ['${', '}'],
        data: {
          sales: [],
          sales_form: {},
          username: "",
          password: ""
        },
        created() {
            // fetch penjualan
            getJsonData("/api/sales")
                .then(results => {
                    if (!results.detail) {
                        this.sales = results;
                        this.sales_form = this.sales[0];
                        this.username = this.sales_form.nama.toLowerCase();
                        console.log(this.sales_form);
                    } else {
                        alert(results.detail);
                    }
                }).catch(err => {
                    console.error('Error:', err);
                });
        },
        methods: {
            addUser: function (event) {
                let new_user = {
                    username: this.username,
                    password: this.password,
                    role: 2
                }
                // console.log(new_user);

                postJsonData(`/api/users`, new_user)
                    .then(result => {
                        console.log(result);
                        let sales_data = {
                            nama: this.sales_form.nama,
                            kode: this.sales_form.kode,
                            alamat: this.sales_form.alamat,
                            kota: this.sales_form.kota,
                            telepon: this.sales_form.telepon,
                            keterangan: this.sales_form.keterangan,
                            user_id: result.id
                        }

                        // update sales data
                        postJsonData(`/api/sales/${this.sales_form.id}`, sales_data)
                            .then(result => {
                                // update this.sales
                                this.sales.forEach(function(s, i, sales) {
                                    if (s.id == result.id) {
                                        sales[i] = result;
                                    }
                                });
                                this.$forceUpdate();

                                alert("Sales User has been added!");
                                closeModalEl("addUserSales");
                            }).catch(err => {
                                console.error('Error:', err);
                            });
                    }).catch(err => {
                        console.error('Error:', err);
                    });
            },
            updatePassword: function (user) {
                let user_data = {
                    username: this.sales_form.user.username,
                    password: this.password,
                    role: this.sales_form.user.role
                }

                // update sales data
                postJsonData(`/api/users/${this.sales_form.user.id}`, user_data)
                    .then(result => {
                        // update this.sales
                        this.sales.forEach(function(s, i, sales) {
                            if (s.user && s.user.id == result.id) {
                                sales[i].user = result;
                            }
                        });
                        this.password = "";
                        this.$forceUpdate();

                        alert("User Password has been changed!");
                        closeModalEl('updateUserPassword');
                    }).catch(err => {
                        console.error('Error:', err);
                    });
            },
            updateSalesForm: function (user) {
                this.sales_form = user;
                this.username = user.nama.toLowerCase();
            }
        },
        filters: {

        },
    })
</script>
{% endblock %}
