{% extends 'main/base.html' %}

{% set title = "Admin" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<style>

</style>
{% endblock %}

{% block content %}
  <div>
    <div class="container">
      <h1 class="title">
        Sales
        <small>
          <a href="#" onclick="toggle_modal('create-sales')">
            <i class="fa fa-sm fa-plus"></i>
          </a>
        </small>
      </h1>
      <div class="modal" id="create-sales">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form action="/admin/users/sales" method="post">
            <header class="modal-card-head">
              <p class="modal-card-title">Tambah Sales</p>
              <button class="delete" type="button" aria-label="close" onclick="toggle_modal('create-sales')"></button>
            </header>
            <section class="modal-card-body">
              <div class="columns">
                <div class="column is-four-fifths pt-2 pb-2">
                  <label class="label" for="username">Nama</label>
                  <input class="input is-link" type="text" name="nama" value="" required>
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Kode</label>
                  <input class="input is-link" type="text" name="kode" value="" required>
                </div>
              </div>
              <div class="columns">
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Username</label>
                  <input class="input is-link" type="text" name="username" value="" required>
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="password">Password</label>
                  <input class="input is-link" type="password" name="password" value="" required>
                </div>
              </div>
              <div class="columns">
                <div class="column is-three-quarters pt-2 pb-2">
                  <label class="label" for="username">Alamat</label>
                  <input class="input is-link" type="text" name="alamat" placeholder="(tidak wajib)">
                </div>
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Kota</label>
                  <input class="input is-link" type="text" name="kota" placeholder="(tidak wajib)">
                </div>
              </div>
              <div class="columns">
                <div class="column pt-2 pb-2">
                  <label class="label" for="username">Telepon</label>
                  <input class="input is-link" type="text" name="telepon" placeholder="(tidak wajib)">
                </div>
                <div class="column is-three-fifths pt-2 pb-2">
                  <label class="label" for="username">Keterangan</label>
                  <input class="input is-link" type="text" name="keterangan" placeholder="(tidak wajib)">
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="pl-2 pr-2">
                <input class="button is-link" type="submit" value="Tambah">
              </div>
              <button class="button" type="button" onclick="toggle_modal('create-sales')">Batal</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Username</th>
            <th>Kode</th>
            <th>Telepon</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for sal in sales %}
          <tr>
            <td>{{ sal.nama }}</td>
            <td>{{ sal.user.username }}</td>
            <td>{{ sal.kode.upper() }}</td>
            <td>{{ sal.telepon }}</td>
            <td>
              <small>
                <a href="#" onclick="toggle_password({{ sal.user.id }})">
                  <span class="fa-passwd-reset fa-stack">
                    <i class="fa fa-undo fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x"></i>
                  </span>
                </a>
                <a href="#">
                  <span class="fa-edit-sales fa-stack">
                    <i class="fa fa-undo fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x"></i>
                  </span>
                </a>
            </small>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="modal" id="change-password">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form id="change_password" action="/admin/users" method="post">
            <header class="modal-card-head">
              <p class="modal-card-title">Tambah User</p>
              <button class="delete" type="button" aria-label="close" onclick="toggle_password(0)"></button>
            </header>
            <section class="modal-card-body">
              <div class="pt-2 pb-2">
                <label class="label" for="password">Password Baru</label>
                <input class="input is-link" type="password" name="password" value="">
              </div>
              <div class="pt-2 pb-2">
                <label class="label" for="password">Ulang Password</label>
                <input class="input is-link" type="password" name="password2" value="">
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="pl-2 pr-2">
                <input class="button is-link" type="submit" value="Ubah">
              </div>
              <button class="button" type="button" onclick="toggle_password(0)">Batal</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  function toggle_modal(id) {
    var element = document.getElementById(id);
    if (element.classList.contains('is-active')) {
      element.classList.remove("is-active");
      element.classList.remove("is-clipped");
    } else {
      element.classList.add("is-active");
      element.classList.add("is-clipped");
    }
  }
  function toggle_password(user_id) {
    var element = document.getElementById("change-password");
    if (user_id == 0) {
      element.classList.remove("is-active");
      element.classList.remove("is-clipped");
    } else {
      element.classList.add("is-active");
      element.classList.add("is-clipped");
      document.getElementById('change_password').action = "/admin/users/" + user_id + "/password"
    }
  }
</script>
{% endblock %}
